<footer class="footer">

    <h4 class="h4footer">KISI &copy; 2023</h4>
    <nav>
        <ul class="navfooter">
            <li> <a class="enlace" href="#equipo"> EQUIPO</a></li>
            <li> <a class="enlace" href="#quienes-somos"> QUIÉNES SOMOS</a></li>
            <li> <a class="enlace" href=""> CONTACTO</a></li>

        </ul>

    </nav>
    ​

    <div class="imagefooter">
        ​
        <img class="imagefooter2" src="./assets/images/logo-adalab.jpg" alt="logo Adalab">
        ​
    </div>
    ​
</footer>

</body>