<header>

    <div class="container">
        <h1 class="h1">KISI</h1>
    </div>
    <nav class="nav-header">
        <ul class="menu">
            <li class="lista"><a href="#equipo" class="selected">EQUIPO</a></li>
            <li class="lista"><a href="#quienes-somos" class="selected">QUIENES SOMOS</a></li>
            <li class="lista"><a href="" class="selected">CONTACTO</a></li>
        </ul>
    </nav>
    </div>
    <div class="hero">
        <div class="div_hero">
            <span class="text_hero">Si lo crees, lo creas</span>
        </div>
    </div>

</header>