.section3 {
    margin: 10%;
    font-family: 'Open Sans', sans-serif;
    
}

.section3 .tittle {

    font-size: 2.4rem;
    color: #099d8d;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section3 .name {
    font-size: 2rem;
    text-align: center;
}



.p {
    text-align: center;
    font-size: 1.6rem;
    color: #54585a;
}



i {color: #099d8d;
text-align: center;
font-size: 1.6rem;}


.ul{

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    
}

.images {

    
    border-radius: 0.4rem;
    border: solid 0.2rem #54585a;

}


@media (min-width: 768px)

{



.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.box_a {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
    margin-bottom: 2rem;

}


.description {
    display: flex;
    flex-direction: column;
}

}