.section1 {
    background-color: white;
    width: 100%;
    padding: 1.875rem 0.938rem 0;



}

.equipo {
    font-family: Rubik;
    color: #14d9c4;
    font-size: 2.2rem;
    font-weight:bolder;
    text-align: center;
    

}

.contenido_equipo {
    font-family: OpenSans;
    font-size: 1.4rem;
    color: #54585a;
    font-weight:100;
    line-height: 1.5;
    text-align: center;
    margin: 2rem 3.5rem 0 3.5rem;


}

.p2_contenido_equipo {
    font-family: OpenSans;
    font-size: 1.4rem;
    color: #54585a;
    font-weight: 100;
    line-height: 1.5;
    text-align: center;
    margin: 2rem 3.5rem 0 3.5rem;
}
    

.rectangle {
    width: 3rem;
    height: 3rem;
    margin: auto;
    transform: rotate(45deg);
    background-color: white;
    position: relative;
    top: 1.5rem;


}

.section2 {
    width: 100%;
    padding: 1.875rem 0.938rem 2.813rem;
    background-color: rgba(184, 184, 185, 0.4);

}

.fortaleza {
    font-family: Rubik;
    width: 100%;
    color: #099d8d;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.05;
    letter-spacing: normal;
    font-size: 2rem;
    text-align: center;
    font-weight:bolder;
}


.contenido_fortalezas {
    font-family: OpenSans;
    font-size: 1.4rem;
    color: #54585a;
    font-weight: 100;
    line-height: 1.5;
    text-align: center;
    margin: 2rem 3.5rem 0 3.5rem;
}

.p3_contenido_fortaleza {
    padding: 0.5rem 0;
}

.debilidades {
    font-family: Rubik;
    width: 100%;
    color: #099d8d;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.05;
    letter-spacing: normal;
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    margin-top: 2rem;
}


.contenido_debilidades {
    font-family: OpenSans;
        font-size: 1.4rem;
        color: #54585a;
        font-weight: 100;
        line-height: 1.5;
        text-align: center;
        margin: 2rem 3.5rem 0 3.5rem;
}

@media all and (min-width:768px) {

    .container_section2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   
}

@media all and (min-width:1200px) {

    .contenido_equipo {
        margin: 2rem 30rem 0 20rem;
    }

    .contenido_fortalezas {
        margin: 2rem 5rem 0 5rem;
    }

    .contenido_debilidades {
    margin: 2rem 5rem 0 5rem;
    }              
}

