.section3 {
    margin: 8%;
    font-family: 'Open Sans', sans-serif;
    border: solid 3rem #b8b8b9;
    
}

.section3 .tittle {

    font-size: 2.4rem;
    color: #099d8d;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Rubik;
    padding-top: 3rem;

}
.section3 .name {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}



.p {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align:justify;
    justify-content: center;
    font-size: 1.6rem;
    color: #54585a;
    line-height: 2rem;
}



i {color: #099d8d;
text-align: center;
font-size: 1.6rem;
margin-top: 1.5rem;
padding-bottom: 1rem;}


.ul{

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    
}

figcaption {
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    
}

.images {

    
    border-radius: 0.4rem;
    border: solid 0.2rem #54585a;

}



@media (min-width: 768px)

{
.section3 {
    margin: 8%;
    font-family: 'Open Sans', sans-serif;
    border: none;

    }

   .section3 .name {
            
            text-align: start;
            padding-bottom: 0;
            padding-right: 1rem;
            padding-left: 1rem;
            
            
        }
    #a {
        text-align: end;
    }
   
    
.p {padding-top: none;}

.box {

    display: flex;
    flex-direction: row;
    
    align-items: start;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.box_a {

    display: flex;
    flex-direction: row-reverse;
    
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}


.description {

    display: flex;
    flex-direction: column;
    text-align: start;
}



.images {
    width: 100%;
    padding-top: auto;
    padding-bottom: auto;
    
   
}

.ul {
    justify-content: start;
    padding: 1rem;
}

.figcaption_b {
    justify-content: center;
    margin: auto;
    text-align: start;
    width: fit-content;
   
}

.figcaption_a {
    justify-content: center;
    text-align: end;
    width: fit-content;
    margin: auto;
}

}