@import'./components/reset';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {

    font-size: 62.5%;
}

header {
    width: 100%;
    color: white;
    display: inline-block;
    text-align: center;
}

.hero {
    width: 100%;
    height: 20rem;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    background-color: #099d8d;
    height: 6rem;
    padding: 1.5rem 8rem;
    padding-top: 1.5rem;
}

.h1 {
    font-family: Rubik;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: var(--white);
    letter-spacing: 1rem;
}

.nav-header {
    width: 100%;
    background-color: #14d9c4;
    height: 4.5rem;
    text-align: end;
    padding: 0.8rem 1.7rem 0.7rem 1.6rem;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

.selected {
    font-family: 'Open Sans', sans-serif;
    font-weight: 60rem;
    font-size: 1.5rem;
    line-height: 2.14;
    text-align: right;
    color: white;
    text-decoration-line: none;
}

.hero {
    width: 100%;
    height: 42.1rem;
    /*los hero tienen esta altura en 320 y 768*/
    background-image: url(../images/hero.jpg);
    /*si encontramos la imagen con fondo transparente quedaría perfecto*/
    background-position: center;
    /*quito cover, que las DevTools dicen que no existe*/
    background-repeat: no-repeat;
    background-color: lightgoldenrodyellow;
    /*pongo un fondo para que se vea el efecto superpuesto*/


}

​ .div_hero {
    /*defino la clase, que no estaba aunque sí estaba en HTML*/
    width: 75%;
    display: inline-block;
    color: black;
    font-size: 4rem;
    background-color: white;
    vertical-align: bottom;
    margin-top: 40rem;
}

.section1 {
    background-color: white;
    width: 100%;
    padding: 1.875rem 0.938rem 0;


}

.equipo {
    color: #14d9c4;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin: 0 6.219rem 0.938rem 6.344rem
}

.contenido_equipo {
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    margin: 0.938rem 0 0;

}

.p2_contenido_euipo {
    padding: 0.5rem 0;
}

.rectangle {
    width: 1.875rem;
    height: 1.875rem;
    margin: auto;
    transform: rotate(45deg);
    background-color: white;
    position: relative;
    top: 1rem;


}

.section2 {
    width: 100%;
    padding: 1.875rem 0.938rem 2.813rem;


}

.fortaleza {
    width: 100%;
    color: #099d8d;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.05;
    letter-spacing: normal;
    font-size: 1.375rem;
    text-align: center;
    font-weight: 500;
}


.contenido_fortalezas {
    color: #54585a;
    text-align: center;
    font-size: 1rem;
    margin: 0.5rem 0 0;
}

.p3_contenido_fortaleza {
    padding: 0.5rem 0;
}

.debilidades {
    width: 100%;
    color: #099d8d;
    font-stretch: normal;
    margin: 1.875rem 0 0;
    font-style: normal;
    line-height: 2.05;
    letter-spacing: normal;
    font-size: 1.375rem;
    text-align: center;
    font-weight: 600;
}


.contenido_debilidades {
    color: #54585a;
    text-align: center;
    font-size: 1rem;
    margin: 0.5rem 0 0;
}

.p4_contenido_debilidades {
    padding: 0.5rem 0;
}


.section3 {
    font-family: 'Open Sans', sans-serif;
}
.section3 .tittle {

    font-size: 1.5rem;
    color: #099d8d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 .name {
    font-size: 1.4rem;
}

.p {
    color: #54585a;
}

.nav .list {

    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.4rem;

}

.list .fa-brands::after {
    content: "·";
    color: #099d8d;
    text-decoration-line: none;

}

i {
    color: #099d8d;

}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.box_a {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}





.description {
    display: flex;
    flex-direction: column;
}



.footer {
    border: 0.1rem solid #b8b8b9;
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.h4footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    color: #b8b8b9;
    margin-bottom: 2rem;
}

.navfooter {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagefooter {
    width: 11.6rem;
    margin-top: 3rem;
    height: 4.5rem;

}

.imagefooter2 {
    width: 100%;

}

.enlace {
    color: #54585a;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}