@import'./core/reset';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {

    font-size: 62.5%;
}

@import'./layout/header';

@import'./layout/section1and2';

@import'./layout/section3';

@import'./layout/footer';

@import './layout/form.scss'
